 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
    

}

body {
    font-family: sans-serif;
}

a {
    text-decoration:none;
    color: #ecf0f3;
}
body {
    background-image:url("Images/moon.jpg");
    background-size: 1350px 650px;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 30px;
    background-color: #000;
    
}

.theme-toggler {
    position: absolute;
    top:30px;
    right: 30px;
    color: #ecf0f3;
    cursor: pointer;
       

}

.theme-toggler.active {
    color: #ecf0f3;
}

.theme-toggler.active::before {
    background-color: #fff;
}

.theme-toggler::before {
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #000;
    z-index: -1;
}

#display {
    margin: auto;
    height: 70px;
    width: 260px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: inset -5px -5px 12px ecf0f3,
                inset 5px 5px 12px rgba(0,0,0, .16);
    color: #ecf0f3;
    border-radius: 20px;
    grid-column: span 4;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 50px;
    margin: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                    5px 5px 12px rgba(0,0,0, .16);
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}

/* light theme */

.calculator {
    background-color: #fff;
}

.calculator #display {
    color: #270707;
}

.calculator button#clear {
    background-color: #ecf0f3;
    color: #000000;
}

.calculator button.btn-number {
    background-color: #ecf0f3;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #ecf0f3;
    color: #000000;
  }
  
  .calculator button.btn-equal {
    background-color: #ecf0f3;
    color: #000;
  }

  /* dark theme */
  .calculator.dark {
    background-color:#ecf0f3;
    
    
     }

  .calculator.dark #display {
    color: #000000;
  }

  .calculator.dark button#clear {
    background-color: #ecf0f3;
    color: #000000;
  }

  .calculator.dark button.btn-number {
    background-color: #ecf0f3;
    color: #000000;
  }

  .calculator.dark button.btn-operator {
    background-color: #ecf0f3;
    color: #000000;
  }
  
  .calculator.dark button.btn-equal {
    background-color: #ecf0f3;
    color: #000000;
  }
